.todo {
  position: relative;
  margin-right: 50%;
  margin-bottom: 100px;
}

.todo h3 {
  margin: 40px 10 ps;
  font-family: Poppins, san-serif;
  font-size: 16px;
  font-weight: 400;
}

.todo .add_button {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 26px;
  border-radius: 5px;
  position: absolute;
  line-height: 30px;
  text-align: center;
  right: 10px;
  top: 5px;
}

button.add {
  width: 170px;
  float: right;
}
